# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
htmlcov/
.tox/
.pytest_cache/

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

foa_pipeline_detailed_updated.txt

myapprch.txt